html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  min-width: 960px;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.container {
  width: 960px;
  padding: 0 10px;
  margin: auto;
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.visually-hidden-input {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.navigation-list,
.footer-navigation,
.footer-social__list,
.delivery-list,
.breadcrumbs-list,
.product-card__list,
.filter-list,
.pagination-list,
.category-list,
.category-slider__list,
.slider-dots__list,
.manufacturer-list,
.tab-nav__list,
.tabs-content__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* header top */
.header-top__menu {
  background-color: #293449;
}

.top-menu__logo-wrapper {
  position: relative;
  min-height: 42px;
  width: 220px;
}

.top-menu__logo {
  max-width: 220px;
  width: 100%;
  min-height: 47px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  padding-bottom: 3px;
}

.top-menu__logo img {
  width: 109px;
  height: 19px;
}

.top-menu__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo {
  -webkit-box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

a.logo:hover {
  background-color: #ca2c37;
}

a.logo:active {
  background-color: #ba2732;
}

a.logo:focus {
  background-color: #ca2c37;
}

.top-menu__form [type="search"] {
  background-color: transparent;
  font: inherit;
  border: none;
  color: #ffffff;
  width: 270px;
  padding: 10px 12px 10px 49px;
  min-height: 42px;
  background: url("../img/icon-search.svg") no-repeat left 17px top 12px;
}

.top-menu__form [type="search"]:hover {
  background-image: url("../img/icon-search-hover.svg");
}

.top-menu__form [type="search"]:focus {
  background-image: url("../img/icon-search-focus.svg");
  color: #000000;
  background-color: #ffffff;
}

.top-menu__form input[type="search"]::-webkit-input-placeholder {
  color: #ffffff;
}

.top-menu__form input[type="search"]::-moz-placeholder {
  color: #ffffff;
}

.top-menu__form input[type="search"]:-moz-placeholder {
  color: #ffffff;
}

.top-menu__form input[type="search"]:-ms-input-placeholder {
  color: #ffffff;
}

.header-top__menu a {
  color: #ffffff;
}

.header-top__menu a:focus:not(.logo) {
  outline-offset: -4px;
}

.bookmark-link {
  padding: 12px 27px 12px 44.5px;
}

.bookmark-link::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 17px;
  width: 14px;
  height: 16px;
  opacity: 0.3;
  background: url("../img/icon-bookmark.svg") no-repeat;
}

.cart-link {
  padding: 12px 27px 12px 49.5px;
}

.cart-link::before,
.buy-btn::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 18px;
  width: 15px;
  height: 15px;
  opacity: 0.3;
  background: url("../img/icon-cart.svg") no-repeat;
}

.bookmark-link:hover::before,
.bookmark-link:focus::before,
.cart-link:hover::before,
.cart-link:focus::before,
.buy-btn:hover::before,
.buy-btn:focus::before {
  opacity: 1;
}

.bookmark-link:active::before,
.cart-link:active::before,
.buy-btn:active::before {
  opacity: 0.5;
}

.bookmark-link:hover,
.bookmark-link:focus,
.cart-link:hover,
.cart-link:focus {
  background-color: #212a3a;
}

.bookmark-link,
.cart-link,
.btn-order {
  white-space: nowrap;
  min-width: 150px;
  position: relative;
}

.bookmark-link:active,
.cart-link:active {
  color: #989ca1;
  background-color: #161d29;
}

.cart--active,
.bookmark--active {
  background-color: #ee3643;
}

.cart--active {
  padding: 12px 26px 12px 49.5px;
}

.cart--active:hover,
.cart--active:focus {
  background-color: #ca2c37;
}

.cart--active:active {
  background-color: #ba2732;
}

.btn-order {
  background-color: #63a63e;
  padding: 12px 18px 12px;
  text-align: center;
}

.btn-order:focus,
.btn-order:hover {
  background-color: #5fbb2d;
}

.btn-order:active {
  background-color: #518534;
  color: #989ca1;
}

/* header center */
.header-menu {
  background-color: #f1f5f7;
  padding: 47px 0 60px 0;
}

.header-menu__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header-menu__title {
  color: #ee3643;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  font-weight: 400;
  max-width: 202px;
  margin: 2px 0px 40px 52px;
}

.header-menu__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 270px;
}

.header-menu__phone {
  display: block;
  position: relative;
  border: 3px solid #ffffff;
  color: #ee3643;
  font-size: 21px;
  line-height: 21px;
  padding: 8px 12px 10px 70px;
  margin-bottom: 3px;
  min-width: 270px;
}

.header-menu__phone:before {
  content: "";
  position: absolute;
  left: 12px;
  top: 9px;
  width: 18px;
  height: 19px;
  background: url("../img/icon-phone.svg") no-repeat;
}

.header-menu__contact small {
  display: block;
  color: #32425c;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.header-menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.header-menu__btn a {
  color: #000000;
  background-color: #ffffff;
  font-size: 21px;
  line-height: 21px;
}

.login__btn {
  padding: 11px 25px 13px 47.91px;
  margin-right: 10px;
  position: relative;
}

.login__btn::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 14px;
  width: 20px;
  height: 17px;
  background: url("../img/icon-login.svg") no-repeat;
  opacity: 0.3;
}

.login__btn:hover::before,
.login__btn:focus::before {
  opacity: 1;
}

.login__btn:active::before {
  opacity: 0.3;
}

.signup__btn {
  padding: 11px 24px 13px 24.15px;
}

.header-menu__btn a:focus,
.header-menu__btn a:hover {
  color: #ee3643;
}

.header-menu__btn a:active {
  color: #cacaca;
}

.profile-link__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #ffffff;
  font-size: 21px;
  line-height: 21px;
  padding: 13px 10px 11px 47px;
  margin-bottom: 7px;
  position: relative;
}

.profile__link {
  color: #000000;
  margin-right: 37px;
}

.profile__logout {
  width: 20px;
  height: 17px;
  position: relative;
}

.profile__link::before,
.profile__logout::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 18px;
  opacity: 0.3;
}

.profile__link::before {
  background: url("../img/icon-user.svg") no-repeat;
  top: 13px;
  left: 13px;
}

.profile__logout::after {
  background: url("../img/icon-logout.svg") no-repeat;
  left: 0;
  top: 0;
}

.profile__link:hover::before,
.profile__logout:hover::after,
.profile__link:focus::before,
.profile__logout:focus::after {
  opacity: 1;
}

.profile__link:active,
.profile__logout:active::after {
  opacity: 0.3;
}

.user-order__link {
  -webkit-box-ordinal-group: -1;
  -ms-flex-order: -2;
  order: -2;
}

.user-profile__btn a {
  color: #32425c;
  text-decoration: underline;
}

.user-profile__btn a:hover,
.user-profile__btn a:focus {
  color: #ee3643;
}

.user-profile__btn {
  font-size: 16px;
  text-decoration: underline;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 17px;
}

.user-profile__btn::after {
  content: "";
  width: 4px;
  height: 4px;
  background-color: #32425c;
  border-radius: 50%;
  margin: 0 13px;
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
}

.user-profile__btn a:active,
.user-profile__link:active {
  color: #c5c5c5;
}

/* navigation */
.header-menu__navigation {
  -webkit-box-shadow: inset 0 -5px 0 #293449;
  box-shadow: inset 0 -5px 0 #293449;
  background-color: #32425c;
  width: 100%;
}

.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.navigation-list__item:first-child,
.navigation-list__item:last-child {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.navigation-list__item:first-child {
  text-align: right;
}

.navigation-list a {
  display: block;
  padding: 20px 29.5px 23px 31px;
  color: #ffffff;
  line-height: 17px;
  outline-offset: -4px;
}

.navigation-list a:active {
  color: #999999;
  background-color: #1d2739;
}

.navigation-list a:hover,
.navigation-list a:focus,
.navigation-list .navigation-list__item--active a {
  background-color: #293449;
}

/* main */
/* slider */
.offer {
  padding: 59px 0 53px 0;
}

.offer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.category-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.category-left__row {
  width: 620px;
  margin-right: 20px;
}

.category-list__left {
  margin-left: -20px;
}

.category-list__left li {
  margin-bottom: 20px;
  margin-left: 20px;
}

.category-right__row {
  width: 300px;
}

.category-list__right li:not(:last-child) {
  margin-bottom: 20px;
}

.category-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 300px;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 20px 25px 22px;
  background-color: #ffbf47;
  position: relative;
}

.category--materials {
  background: #ffbf47 url("../img/icon-materials.svg") no-repeat top 31px right 43px;
}

.category--instruments {
  background: #3bbce3 url("../img/icon-instruments.svg") no-repeat top 33px right 28px;
}

.category--technique {
  background: #dc91d8 url("../img/icon-technique.svg") no-repeat top 31px right 31px;
}

.category--discount {
  background: #8ed78f url("../img/icon-basket.svg") no-repeat top 26px right 45px;
}

.category--delivery {
  background: #ffc047 url("../img/icon-delivery.svg") no-repeat top 32px right 31px;
}

.category-item__title {
  margin: 0 60px 13px 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.category-item__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  display: inline-block;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 10px 13px;
  min-width: 135px;
}

.category-item__link:hover,
.category-item__link:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.category-item__link:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.category-slider {
  position: relative;
  height: 266px;
}

.slider-list__item {
  min-width: 620px;
  height: 266px;
  min-height: 266px;
  padding: 22px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-color: #695c53;
}

.slider-item__title {
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 3px;
  text-transform: uppercase;
}

.slider-item__subtitle {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.slider-item__link {
  min-width: 195px;
}

.slider-arrows {
  background: transparent no-repeat;
  border: none;
  width: 22px;
  height: 40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  padding: 0;
}

.slider-arrows:hover {
  opacity: 0.5;
}

.slider-arrow__prev {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='39' viewBox='0 0 22 39'%3E%3Cg%3E%3Cg%3E%3Cpath fill='%23fff' d='M19.922-.054l1.999 2.048L4.905 19.441l17.071 17.501-2 2.048L.91 19.441z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  left: 25px;
}

.slider-arrow__next {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='39' viewBox='0 0 21 39'%3E%3Cg%3E%3Cg transform='rotate(-180 11 20)'%3E%3Cpath fill='%23fff' d='M19.922.946l1.999 2.048L4.905 20.441l17.071 17.501-2 2.048L.91 20.441z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  right: 25px;
}

.slider-dots__list {
  position: absolute;
  left: 50%;
  bottom: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
}

.slider-dots__list li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 5px;
  background-color: #ffffff;
}

.slider-dots__list .slider-dots__item--active {
  background-color: #ee3643;
  border: 2px solid #ffffff;
}

/* popular product */
.section-topline {
  background-color: #f9f5f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 26px 25px 25px 29px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px;
}

.section-topline__title {
  color: #32425c;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  padding: 0;
  text-transform: uppercase;
  margin: 0;
}

.section-topline .btn {
  min-width: 253px;
}

.popular-product__container .product-card__list {
  max-width: 960px;
}

.breadcrumbs {
  margin: 20px 0;
}

/* popular manufacturer*/
.popular-manufacturer {
  padding-bottom: 65px;
}

.manufacturer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -20px;
}

.manufacturer-list__item {
  width: 220px;
  height: 145px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 20px 20px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.manufacturer-list__item:hover,
.manufacturer-list__item:focus {
  -webkit-box-shadow: 0 10px 22px rgba(41, 52, 73, 0.5);
  box-shadow: 0 10px 22px rgba(41, 52, 73, 0.5);
  border-color: transparent;
}

.manufacturer-list__item:active {
  -webkit-box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
  box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
}

.manufacturer-item__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

/* services */
.services {
  background-color: #f4f8f9;
  padding: 66px 0 0 0;
}

.services-container {
  position: relative;
}

.tab-nav {
  margin-right: 80px;
  position: relative;
}

.tab-nav::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 279px;
  right: 0;
  top: -42px;
  background: url("../img/services-tab-shadow.png") no-repeat;
}

.tab-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.tab-nav__item a {
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  -webkit-box-shadow: 0 1px 0 #293449, inset 0 1px 0 #405069;
  box-shadow: 0 1px 0 #293449, inset 0 1px 0 #405069;
  background-color: #32425c;
  padding: 15px 22px 16px;
  display: block;
}

.tab-nav__item a:hover,
.tab-nav__item a:focus {
  background-color: #293449;
}

.tab-nav__item a.js-tab--active {
  -webkit-box-shadow: 0 1px 0 #ffffff, inset 0 1px 0 #ffffff;
  box-shadow: 0 1px 0 #ffffff, inset 0 1px 0 #ffffff;
  background-color: #ffffff;
  color: #32425c;
}

.services-description {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  line-height: 24px;
  margin: 0 0 70px 0;
  max-width: 403px;
}

.tab-title {
  margin: 0 0 22px 0;
  color: #32425c;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-transform: uppercase;
}

.tabs-content__item p {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  line-height: 24px;
  margin: 0;
  max-width: 306px;
}

.credit-btn {
  min-width: 195px;
  margin-top: 28px;
}

/*tabs*/
.tabs-content__list {
  max-width: 620px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.tab-nav {
  max-width: 240px;
  width: 100%;
  padding-bottom: 100px;
}

.tabs-content__list .tabs-content__item {
  display: none;
}

.tabs-content__list .tabs-content__item.js-tab--active {
  display: block;
}

.tabs-content__item {
  content: "";
  background-position: center right;
  background-repeat: no-repeat;
  height: 100%;
}

.tab--delivery {
  background-image: url("../img/tab-delivery.png");
  background-position: top 22px right 1px;
}

.tab-warranty {
  background-image: url("../img/tab-warranty.png");
}

.tab-credit {
  background-image: url("../img/tab-credit.png");
}

/* Breadcrumbs */
.breadcrumbs-list {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.breadcrumbs-list a {
  color: #000000;
  outline-offset: 4px;
}

.is-home--page a {
  display: block;
  width: 15px;
  height: 15px;
}

.is-home--page a::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  right: 15px;
  width: 14px;
  height: 12px;
  background: url("../img/icon-home.svg") no-repeat center;
}

.breadcrumbs-list__item:not(:last-child) {
  margin-right: 38px;
  position: relative;
}

.is-home--page {
  margin-right: 55px;
  position: relative;
}

.breadcrumbs-list__item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 2px;
  right: -24px;
  width: 8px;
  height: 12px;
  background: url("../img/icon-right-arrow.svg") no-repeat;
}

.section-heading {
  color: #32425c;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  padding: 30px 28px 29px 28px;
  text-transform: uppercase;
  margin: 0 0 20px 0;
  background-color: #f9f5f0;
}

.page--heading {
  background-color: #f2f6f8;
}

.main-content__layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* filters */
.filter-heading {
  background-color: #f7f3ec;
  padding: 10px 18px 10px 18px;
  margin: 0 0 12px 0;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  border-radius: 2px;
}

.search-filters {
  max-width: 220px;
  width: 100%;
  margin-right: 20px;
  color: #000000;
  font-size: 15px;
  line-height: 20px;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-item:not(:last-of-type) {
  padding-bottom: 25px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 15px;
}

.filter-item:last-of-type {
  margin-bottom: 75px;
}

.filter-item__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  margin-bottom: 13px;
}

.range-controls {
  position: relative;
  background-color: #f7f3ec;
  padding: 39px 20px;
  border-radius: 2px;
  margin-bottom: 10px;
}

.range-controls .scale {
  height: 2px;
  background-color: #d7dcde;
}

.range-controls .bar {
  height: 2px;
  width: 84.44%;
  height: 2px;
  background-color: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.price-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.price-controls::after {
  content: "";
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0;
  width: 10px;
  height: 2px;
  background-color: #444444;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.price-controls .max-price {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.price-controls input {
  border: none;
  background-color: #f7f3ec;
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 95px;
  text-align: center;
  padding: 10px 10px 11px;
  font-size: 17px;
  line-height: 18px;
  border-radius: 2px;
}

.filter-list__item:not(:last-child) {
  margin-bottom: 20px;
}

.filter-list__label {
  padding-left: 35px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* custom checkbox */
.filter-list__input[type="checkbox"]+.filter-list__label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -2px;
  width: 27px;
  height: 23px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewBox='0 0 23 23'%3E%3Cg%3E%3Cg%3E%3Cpath fill='%23c5c5c5' d='M23 3v17c0 1.65-1.35 3-3 3H3c-1.65 0-3-1.35-3-3V3c0-1.65 1.35-3 3-3h17c1.65 0 3 1.35 3 3zm-3-1H3c-.542 0-1 .458-1 1v17c0 .542.458 1 1 1h17c.542 0 1-.458 1-1V3c0-.542-.458-1-1-1z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") no-repeat left;
}

.filter-list__input[type="checkbox"]:checked+.filter-list__label::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='23' viewBox='0 0 27 23'%3E%3Cg%3E%3Cg%3E%3Cpath fill='%23c5c5c5' d='M7.289 7.489L4.46 10.318l7.783 7.783L26.175 4.169 23.347 1.34 12.243 12.442z'/%3E%3C/g%3E%3Cg%3E%3Cpath fill='%23c5c5c5' d='M21 20c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h16.908L21.493.415A2.96 2.96 0 0 0 20 0H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.filter-list__input[type="checkbox"]:hover+.filter-list__label::before,
.filter-list__input[type="checkbox"]:focus+.filter-list__label::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewBox='0 0 23 23'%3E%3Cg%3E%3Cg%3E%3Cpath fill='%23b5b5b5' d='M23 3v17c0 1.65-1.35 3-3 3H3c-1.65 0-3-1.35-3-3V3c0-1.65 1.35-3 3-3h17c1.65 0 3 1.35 3 3zm-3-1H3c-.542 0-1 .458-1 1v17c0 .542.458 1 1 1h17c.542 0 1-.458 1-1V3c0-.542-.458-1-1-1z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.filter-list__input[type="checkbox"]:checked:hover+.filter-list__label::before,
.filter-list__input[type="checkbox"]:checked:focus+.filter-list__label::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='23' viewBox='0 0 27 23'%3E%3Cg%3E%3Cg%3E%3Cpath fill='%23b5b5b5' d='M7.289 7.489L4.46 10.318l7.783 7.783L26.175 4.169 23.347 1.34 12.243 12.442z'/%3E%3C/g%3E%3Cg%3E%3Cpath fill='%23b5b5b5' d='M21 20c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h16.908L21.493.415A2.96 2.96 0 0 0 20 0H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.filter-list__input[type="checkbox"]:disabled+.filter-list__label,
.filter-list__input[type="checkbox"]:checked:disabled+.filter-list__label {
  opacity: 0.3;
}

.filter-list__input[type="checkbox"]:hover:disabled+.filter-list__label::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewBox='0 0 23 23'%3E%3Cg%3E%3Cg%3E%3Cpath fill='%23c5c5c5' d='M23 3v17c0 1.65-1.35 3-3 3H3c-1.65 0-3-1.35-3-3V3c0-1.65 1.35-3 3-3h17c1.65 0 3 1.35 3 3zm-3-1H3c-.542 0-1 .458-1 1v17c0 .542.458 1 1 1h17c.542 0 1-.458 1-1V3c0-.542-.458-1-1-1z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.filter-list__input[type="checkbox"]:hover:checked:disabled+.filter-list__label::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='23' viewBox='0 0 27 23'%3E%3Cg%3E%3Cg%3E%3Cpath fill='%23c5c5c5' d='M7.289 7.489L4.46 10.318l7.783 7.783L26.175 4.169 23.347 1.34 12.243 12.442z'/%3E%3C/g%3E%3Cg%3E%3Cpath fill='%23c5c5c5' d='M21 20c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h16.908L21.493.415A2.96 2.96 0 0 0 20 0H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.filter-list__input[type="checkbox"]:focus+.filter-list__label::before {
  border-radius: 3px;
  -webkit-box-shadow: 0 0 1px 2px #ffffff, 0 0 1px 5px rgb(77, 144, 254);
  box-shadow: 0 0 1px 2px #ffffff, 0 0 1px 5px rgb(77, 144, 254);
}

/* custom radio button */
.filter-list__input[type="radio"]+.filter-list__label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -6px;
  width: 25px;
  height: 25px;
  background-color: #ffffff;
  border: 4px solid #c5c5c5;
  border-radius: 50%;
  -webkit-box-shadow: inset 0 0 0 4px #ffffff;
  box-shadow: inset 0 0 0 4px #ffffff;
}

.filter-list__input[type="radio"]:checked+.filter-list__label::before {
  background-color: #c5c5c5;
}

.filter-list__input[type="radio"]:hover+.filter-list__label::before {
  border-color: #b5b5b5;
}

.filter-list__input[type="radio"]:checked:hover+.filter-list__label::before {
  border-color: #b5b5b5;
  background-color: #b5b5b5;
}

.filter-list__input[type="radio"]:focus+.filter-list__label::before {
  -webkit-box-shadow: inset 0 0 0 4px #ffffff, 0 0 1px 2px #ffffff, 0 0 1px 5px rgb(77, 144, 254);
  box-shadow: inset 0 0 0 4px #ffffff, 0 0 1px 2px #ffffff, 0 0 1px 5px rgb(77, 144, 254);
  border-color: #b5b5b5;
  background-color: #b5b5b5;
}

.filter-list__input[type="radio"]:checked:disabled+.filter-list__label,
.filter-list__input[type="radio"]:disabled+.filter-list__label {
  opacity: 0.3;
}

.filter-list__input[type="radio"]:checked:disabled:hover+.filter-list__label::before,
.filter-list__input[type="radio"]:disabled:hover+.filter-list__label::before {
  background-color: #c5c5c5;
  border-color: #c5c5c5;
}

.filter-list__input[type="radio"]:disabled:hover+.filter-list__label::before {
  border-color: #c5c5c5;
  background-color: #ffffff;
}

.filters-result-btn {
  display: inline-block;
  padding: 9px 10px;
}

.filters-result-btn {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  background-color: transparent;
  border: 1px solid #e5e5e5;
  display: inline-block;
  padding: 9px 10px;
  vertical-align: middle;
  min-width: 140px;
}

/* sorting */
.product-sorting__filter {
  background-color: #f7f3ec;
  padding: 10px 19px;
  margin-bottom: 20px;
  border-radius: 2px;
  text-transform: uppercase;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.product-sorting__filter .sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.sorting-title {
  margin: 0 20px 0 0;
  font: inherit;
  color: #000000;
}

.sorting-links {
  margin-left: auto;
  margin-right: 43px;
}

.sorting-links a {
  color: rgba(0, 0, 0, 0.3);
  position: relative;
  border-bottom: 1px dotted #ee3643;
  white-space: nowrap;
}

.sorting-links a:not(:last-of-type) {
  margin-right: 65px;
}

.sorting-links a:hover,
.sorting-links a:focus {
  color: rgba(0, 0, 0);
  border-bottom-style: solid;
  outline-offset: 4px;
}

.sorting-links a:active {
  color: #ee3643;
  border: none;
}

a.sorting-link--active,
a.sorting-link--active:hover,
a.sorting-link--active:focus {
  color: #ee3643;
  border: none;
}

.sorting-controls {
  min-width: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.sorting-control {
  width: 0;
  height: 0;
  border-style: solid;
  outline-offset: 4px;
}

.sorting-control--up {
  border-width: 0 5.5px 10px 5.5px;
  border-color: transparent transparent rgba(0, 0, 0, 0.3) transparent;
}

.sorting-control--down {
  border-width: 10px 5.5px 0 5.5px;
  border-color: rgba(0, 0, 0, 0.3) transparent transparent transparent;
}

.sorting-control--up.sorting-control--active {
  border-bottom-color: #ee3643;
}

.sorting-control--down.sorting-control--active {
  border-top-color: #ee3643;
}

.sorting-control--up:hover,
.sorting-control--up:focus {
  border-bottom-color: #000000;
}

.sorting-control--up:active {
  border-bottom-color: #ee3643;
}

.sorting-control--down:hover,
.sorting-control--down:focus {
  border-top-color: #000000;
}

.sorting-control--down:active {
  border-top-color: #ee3643;
}

/* product card */
.product-card__list {
  max-width: 720px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -20px;
}

.product-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border: 1px solid #e5e5e5;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 700;
  position: relative;
}

.flag-new::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  background: no-repeat center;
  width: 60px;
  height: 59px;
  z-index: 2;
  background-image: url("../img/new_flag.png");
}

.product-card__top {
  position: relative;
}

.product-card__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  width: 220px;
  min-width: 200px;
  margin-left: 20px;
}

.product-grid .product-card__item {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.product-card:hover {
  -webkit-box-shadow: 0 10px 15px rgba(41, 52, 73, 0.4);
  box-shadow: 0 10px 15px rgba(41, 52, 73, 0.4);
  background-color: #ffffff;
  border-color: transparent;
}

.product-card__thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 170px;
}

.product-card__thumb img {
  width: 218px;
  height: 100%;
}

.product-card__btns {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 44px 42px 43px 42px;
  z-index: 1;
  display: none;
}

.product-card__btns * {
  border-radius: 2px;
}

.product-card:hover .product-card__btns,
.product-card:focus-within .product-card__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.buy-btn,
.bookmark-btn {
  padding: 10px;
  text-transform: uppercase;
}

.bookmark-btn {
  padding: 7px;
}

.buy-btn {
  padding-left: 49px
}

.buy-btn::before {
  top: 11px;
  left: 14px;
}

.btn-full--width {
  width: 100%;
  max-width: none;
}

.product-card__body {
  width: inherit;
  padding: 10px 30px 20px 30px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.buy-btn {
  -webkit-box-shadow: inset 0 -3px 0 #367315;
  box-shadow: inset 0 -3px 0 #367315;
  background-color: #63a63e;
  color: #ffffff;
  margin-bottom: 7px;
  position: relative;
  text-align: left;
}

.buy-btn:hover,
.buy-btn:focus {
  background-color: #5fbb2d;
}

.buy-btn:active {
  background-color: #518534;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.bookmark-btn {
  font: inherit;
  color: #32425c;
  border: 3px solid #63a63e;
  background-color: #ffffff;
}

.bookmark-btn:hover,
.bookmark-btn:focus {
  border: 3px solid #32425c;
}

.bookmark-btn:active {
  opacity: 0.3;
}

.product-card__title {
  width: inherit;
  margin: 0;
  margin-bottom: 11px;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.price {
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;
}

.price--sale {
  color: #999999;
  text-decoration: line-through;
  margin-bottom: 9px;
}

.price--current {
  background: #ed3943;
  position: relative;
  margin-right: 12px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 10px 19px 10px 35px;
}

.price--current::after {
  content: "";
  position: absolute;
  border-width: 19px 0 19px 19px;
  border-style: solid;
  border-color: transparent transparent transparent #ed3943;
  right: -19px;
  top: 0;
}

/* section  information */
.information {
  background-color: #ffffff;
}

.information-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 79px;
  padding-bottom: 86px;
}

.about-company {
  max-width: 519px;
  margin-right: 20px;
}

section.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.contact-map {
  margin-bottom: 40px;
}

.contact-map img {
  width: 300px;
  height: 158px;
  display: block;
  background-color: #eee9e3;
}

.section-title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
  margin: 0 0 26px 0;
  text-transform: uppercase;
}

.about-company p,
.contact p {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  line-height: 24px;
  margin: 0 0 22px 0;
}

.about-company p:not(:last-of-type) {
  margin-bottom: 24px;
}

.contact p {
  margin-bottom: 31px;
}

.delivery-list {
  margin-bottom: 39px;
}

.delivery-list__item {
  padding-left: 36px;
  position: relative;
}

.delivery-list__item:not(:last-child) {
  margin-bottom: 18px;
}

.delivery-list__item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 25px;
  height: 2px;
  background-color: #ee3643;
}

.delivery-list a {
  color: #000000;
  font-size: 18px;
  line-height: 20px;
}

.btn {
  background-color: #ee3643;
  font-size: 14px;
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  padding: 10px 11px 10px 14px;
  text-align: center;
  border: none;
  border-radius: 2px;
}

.more--btn {
  min-width: 220px;
}

.btn:hover,
.btn:focus {
  background-color: #ca2c37;
}

.btn:active {
  background-color: #ba2732;
}

/* pagination  */
.pagination {
  margin: 32px 0 60px 0;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.pagination-list a {
  display: block;
  color: #000000;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  border: 1px solid #e5e5e5;
  min-width: 38px;
  padding: 9px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 2px;
  outline-offset: 2px;
}

.pagination-list a:hover,
.pagination-list a:focus {
  border-color: #bdc6ca;
}

.pagination-list a:not([href]):hover {
  border-color: transparent;
}

.pagination-list a:active {
  border-color: #ee3643;
}

.pagination-list li:not(:last-child) {
  margin-right: 10px;
}

.pagination-list .pagination-list__item--active {
  border-color: transparent;
  background-color: #ee3643;
  color: #ffffff;
}

.pagination-list .pagination__next {
  padding: 9px 31px;
}

/* about product */
.about-product {
  padding: 66px 0 69px 0;
  background-color: #f2f6f8;
}

.about-product h2 {
  margin: 0 0 25px 0;
}

.about-product p {
  color: #000000;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}

/* footer */
.page-footer {
  background-color: #32425c;
}

.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 52px;
}

.footer-navigation__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding-top: 37px;
}

.footer-navigation:not(:nth-last-of-type(1)) {
  margin-bottom: 34px;
}

.footer-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer-info {
  margin-right: 20px;
}

.footer--logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 220px;
  height: 68px;
  margin-bottom: 26px;
}

.footer-info p {
  color: #f1f5f7;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}

.footer__tel {
  color: #f3f7f9;
}

.footer-navigation__item:not(:last-child) {
  margin-right: 60px;
}

.footer-navigation__item a {
  color: #f1f5f7;
  font-size: 18px;
  line-height: 24px;
}

.footer-navigation--color a {
  color: #ffd180;
}

.footer-navigation__item a:active {
  opacity: 0.5;
}

.footer-navigation__item a:hover,
.footer-navigation__item a:focus {
  text-decoration: underline;
}

.footer-bottom {
  background-color: #293449;
}

.footer-bottom__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 34px;
  padding-bottom: 26px;
}

.footer-copyright {
  margin-right: 164px;
}

.footer-copyright p {
  font-size: 16px;
  color: #ffffff;
  margin: 0;
}

.footer-social__list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 119px;
}

.social-list__item a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: #212a3a url("../img/social-icons.svg") no-repeat center;
}

.social-list__item--vk a {
  background-position: 9px 10px;
}

.social-list__item--fb a {
  background-position: -37px 10px;
}

.social-list__item--inst a {
  background-position: -82px 10px;
}

.social-list__item:not(:last-child) {
  margin-right: 3px;
}

.footer-social__list a:hover,
.footer-social__list a:focus,
.footer-social__list a:active {
  background-color: #ee3643;
}

.footer-contact {
  margin-right: 48px;
}

.footer-contact p,
.footer-dev p {
  color: #ffffff;
  font-size: 16px;
  margin: 0 0 3px 0;
}

.footer__link {
  color: #ffd180;
}

.footer__link:hover,
.footer__link:focus {
  text-decoration: underline;
}

.footer__link:active {
  color: #ee3643;
}

/* modal */
.modal {
  position: fixed;
  -webkit-box-shadow: 0 20px 40px rgba(41, 52, 73, 0.75);
  box-shadow: 0 20px 40px rgba(41, 52, 73, 0.75);
  background-color: #ffffff;
  border-top: 7px solid #ff3745;
  z-index: 9999;
  padding-top: 50px;
  max-width: 620px;
  width: 100%;
}

.modal-map {
  top: 50%;
  left: 50%;
  -webkit-box-shadow: 0 0 15px 1px rgba(47, 42, 43, 0.5);
  box-shadow: 0 0 15px 1px rgba(47, 42, 43, 0.5);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 940px;
  padding: 0;
  border-top: none;
  display: none;
}

.map-wrapper img {
  height: 100%;
  display: block;
  background-color: #eee9e3;
}

.modal-write-us {
  bottom: 220px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  display: none;
}

.modal-cart {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: none;
}

.modal-close {
  position: absolute;
  right: 9px;
  top: 9px;
  border: none;
  width: 21px;
  height: 21px;
  background: url("../img/icon-close.svg");
  cursor: pointer;
  padding: 0;
  font-size: 0;
}

.modal-cart__title {
  color: #000000;
  font-size: 30px;
  line-height: 30px;
  margin: 0;
}

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 19px;
}

.form-inner {
  padding: 0 80px;
  margin-bottom: 37px;
}

.form-field[type="email"]:required:invalid {
  outline-color: red;
}

.form-field[type="email"]:required:valid {
  outline-color: green;
}

.form-group label {
  max-width: 220px;
  width: 100%;
}

.field-name span,
.field-email span,
.field-message span {
  color: #000000;
  display: block;
  margin-bottom: 9px;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}

.form-field {
  padding: 8px 16px 8px 16px;
  border-radius: 2px;
  border: 2px solid #dee3e4;
  width: 100%;
  color: #a9a9a9;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  display: block;
}

.form-field__message {
  min-height: 114px;
  resize: none;
}

.form-field::-webkit-input-placeholder {
  color: #a9a9a9;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.form-field::-moz-placeholder {
  color: #a9a9a9;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.form-field:-moz-placeholder {
  color: #a9a9a9;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.form-field:-ms-input-placeholder {
  color: #a9a9a9;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.modal-btn__wrapper {
  background-color: #f4f4f4;
  padding: 37px 80px;
}

.modal-content__mark {
  padding: 0 80px;
  margin-bottom: 49px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.modal-content__mark::before {
  content: "";
  width: 66px;
  height: 66px;
  border-radius: 50%;
  margin-right: 32px;
  background: #63a63e url("../img/icon-check-mark.svg") no-repeat center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.modal-cart .modal-btn__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.modal-cart .modal-btn__wrapper * {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  min-width: 220px;
}

.checkout-btn {
  margin-right: 20px;
}

.purchases-btn {
  background-color: #ffffff;
  color: #000000;
  font-family: Cuprum;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.purchases-btn:hover {
  background-color: #ffffff;
  opacity: 0.7;
}

.modal-submit__btn {
  line-height: 18px;
}

@-webkit-keyframes bounceInDown {

  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0) translateX(-50%);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0) translateX(-50%);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0) translateX(-50%);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0) translateX(-50%);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0) translateX(-50%);
  }
}

@keyframes bounceInDown {

  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0) translateX(-50%);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0) translateX(-50%);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0) translateX(-50%);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0) translateX(-50%);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0) translateX(-50%);
  }
}

.js-modal--open {
  display: block;
  -webkit-animation: bounceInDown 0.8s;
  animation: bounceInDown 0.8s;
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}

@-webkit-keyframes bounce {

  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0) translate(-50%, -50%);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0) translate(-50%, -50%);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0) translate(-50%, -50%);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0) translate(-50%, -50%);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0) translate(-50%, -50%);
  }
}

@keyframes bounce {

  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0) translate(-50%, -50%);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0) translate(-50%, -50%);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0) translate(-50%, -50%);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0) translate(-50%, -50%);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0) translate(-50%, -50%);
  }
}

.modal--open {
  display: block;
  -webkit-animation: bounce 0.8s;
  animation: bounce 0.8s;
  -webkit-animation-name: bounce;
  animation-name: bounce;
}
