html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
}

img {
  max-width: 100%
}

a {
  text-decoration: none;
}
.container {
  max-width:960px;
  padding:0 10px;
  margin:auto;
}
.navigation-list,
.footer-navigation,
.footer-social__list,
.delivery-list,
.breadcrumbs-list,
.product-card__list,
.filter-list {
  list-style: none;
}

/* header top */

.header-top__menu {
  background-color: #293449;
}
.top-menu__container {
  display: flex;
  justify-content: space-between;
}
.logo {
  -webkit-box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}

a.logo:hover {
  background-color: #ca2c37;
}

a.logo:active {
  background-color: #ba2732;
}

a.logo:focus {
  background-color: #ca2c37;
}

.top-menu__form [type="search"] {
  background-color: transparent;
  font: inherit;
  border: none;
}

input[type="search"]::-webkit-input-placeholder {
  color: #ffffff;
}

input[type="search"]::-moz-placeholder {
  color: #ffffff;
}

input[type="search"]:-moz-placeholder {
  color: #ffffff;
}

input[type="search"]:-ms-input-placeholder {
  color: #ffffff;
}

.top-menu__form [type="search"]:focus {
  background-color: #ffffff;
}

.header-top__menu a {
  color: #ffffff;
}

.bookmark__link:hover,
.bookmark__link:focus,
.cart__link:hover,
.cart__link:focus {
  background-color: #212a3a;
}

.bookmark__link:active,
.cart__link:active {
  color: #989ca1;
  background-color: #161d29;
}

.cart--active {
  background-color: #ee3643;
}

.cart--active:hover,
.cart--active:focus {
  background-color: #ca2c37;
}

.cart--active:active {
  background-color: #ba2732;
}

.btn-order {
  background-color: #63a63e;
}

.btn-order:focus,
.btn-order:hover {
  background-color: #5fbb2d;
}

.btn-order:active {
  background-color: #518534;
  color: #989ca1;
}

/* header center */
.header-center {
  background-color: #f1f5f7;
}

.header-title {
  color: #ee3643;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  font-weight: 400;
}

.header-phone {
  border: 3px solid #ffffff;
  color: #ee3643;
  font-size: 21px;
  line-height: 21px;
}

.header-contact small {
  color: #32425c;
  font-size: 14px;
  line-height: 24px;
}

.header-btn a {
  color: #000000;
  background-color: #ffffff;
  font-size: 21px;
  line-height: 21px;
}

.header-btn a:focus,
.header-btn a:hover {
  color: #ee3643;
}

.header-btn a:active {
  color: #cacaca;
}

.user-profile__link {
  color: #000000;
  font-size: 21px;
  line-height: 21px;
}

.user-profile__btn a {
  color: #32425c;
}

.user-profile__btn a:hover,
.user-profile__btn a:focus {
  color: #ee3643;
}

.user-profile__btn {
  font-size: 16px;
  text-decoration: underline;
}

.user-profile__btn a:active,
.user-profile__link:active,
.header-btn a:active {
  color: #c5c5c5;
}

/* navigation */
.main-navigation {
  -webkit-box-shadow: inset 0 -5px 0 #293449;
  box-shadow: inset 0 -5px 0 #293449;
  background-color: #32425c;
}

.navigation-list a {
  color: #ffffff;
  line-height: 17px;
}

.navigation-list a:active {
  opacity: 0.5;
  background-color: #1d2739;
}

.navigation-list a:hover,
.navigation-list a:focus {
  background-color: #293449;
}

/* main */

.breadcrumbs-list {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 13px;
  text-transform: uppercase;
}

.breadcrumbs-list a {
  color: #000000;
}

.page-heading {
  background-color: #f2f6f8;
  color: #32425c;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.search-filters {
  color: #000000;
  font-size: 15px;
  line-height: 20px;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.fieldset__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
}

.filters-result-btn {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  background-color: transparent;
  border: 1px solid #e5e5e5;
}

.product-card {
  border: 1px solid #e5e5e5;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 700;
}

.product-card:hover {
  -webkit-box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
  background-color: #ffffff;
}

.product-card__btns {
  font-family: Cuprum;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.buy__btn {
  -webkit-box-shadow: inset 0 -3px 0 #367315;
  box-shadow: inset 0 -3px 0 #367315;
  background-color: #63a63e;
  color: #ffffff;
}

.buy__btn:hover,
.buy__btn:focus {
  background-color: #5fbb2d;
}

.buy__btn:active {
  background-color: #518534;
}

.bookmark__btn {
  font: inherit;
  color: #32425c;
  border: 3px solid #63a63e;
  background-color: #ffffff;
}

.bookmark__btn:hover,
.bookmark__btn:focus {
  border: 3px solid #32425c;
}

.bookmark__btn:active {
  opacity: 0.3;
}

.product-card__title {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.price {
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ee3643;
}

.price--sale {
  color: #999999;
  background-color: unset;
  text-decoration: line-through;
}

/* section  information */
.information {
  background-color: #ffffff;
}

.section-title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
}

.about-company p,
.contact p {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  line-height: 24px;
}

.delivery-list a {
  color: #000000;
  font-size: 18px;
  line-height: 20px;
}

.btn {
  background-color: #ee3643;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
}

.btn:hover,
.btn:focus {
  background-color: #ca2c37;
}

.btn:active {
  background-color: #ba2732;
}

/* footer */
.page-footer {
  background-color: #32425c;
}

.footer-info p {
  color: #f1f5f7;
  font-size: 18px;
  line-height: 24px;
}

.footer-navigation__item a {
  color: #f1f5f7;
  font-size: 18px;
  line-height: 24px;
}

.footer-navigation--color a {
  color: #ffd180;
}

.footer-navigation__item a:active {
  opacity: 0.5;
}

.footer-navigation__item a:hover,
.footer-navigation__item a:focus {
  text-decoration: underline;
}

.footer-copyright p {
  font-size: 16px;
  color: #ffffff;
}

.footer-social__list a {
  color: #ffffff;
  background-color: #212a3a;
}

.footer-social__list a:hover,
.footer-social__list a:focus,
.footer-social__list a:active {
  background-color: #ee3643;
}

.footer-contact p,
.footer-dev p {
  color: #ffffff;
  font-size: 16px;
}

.footer__link {
  color: #ffd180;
}

.footer__link:hover,
.footer__link:focus {
  text-decoration: underline;
}

.footer__link:active {
  color: #ee3643;
}

/* modal */
.modal {
  display: none;
}
