html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
}

img {
  max-width: 100%
}

a {
  text-decoration: none;
}

.container {
  max-width: 960px;
  padding: 0 10px;
  margin: auto;
}

.navigation-list,
.footer-navigation,
.footer-social__list,
.delivery-list,
.breadcrumbs-list,
.product-card__list,
.filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* header top */

.header-top__menu {
  background-color: #293449;
}

.top-menu__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.logo {
  -webkit-box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

a.logo:hover {
  background-color: #ca2c37;
}

a.logo:active {
  background-color: #ba2732;
}

a.logo:focus {
  background-color: #ca2c37;
}

.top-menu__form [type="search"] {
  background-color: transparent;
  font: inherit;
  border: none;
}

input[type="search"]::-webkit-input-placeholder {
  color: #ffffff;
}

input[type="search"]::-moz-placeholder {
  color: #ffffff;
}

input[type="search"]:-moz-placeholder {
  color: #ffffff;
}

input[type="search"]:-ms-input-placeholder {
  color: #ffffff;
}

.top-menu__form [type="search"]:focus {
  background-color: #ffffff;
}

.header-top__menu a {
  color: #ffffff;
}

.bookmark__link:hover,
.bookmark__link:focus,
.cart__link:hover,
.cart__link:focus {
  background-color: #212a3a;
}

.bookmark__link:active,
.cart__link:active {
  color: #989ca1;
  background-color: #161d29;
}

.cart--active {
  background-color: #ee3643;
}

.cart--active:hover,
.cart--active:focus {
  background-color: #ca2c37;
}

.cart--active:active {
  background-color: #ba2732;
}

.btn-order {
  background-color: #63a63e;
}

.btn-order:focus,
.btn-order:hover {
  background-color: #5fbb2d;
}

.btn-order:active {
  background-color: #518534;
  color: #989ca1;
}

/* header center */
.header-menu {
  background-color: #f1f5f7;
}

.header-menu__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header-menu__title {
  color: #ee3643;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  font-weight: 400;
  max-width: 194px;
}

.header-menu__phone {
  border: 3px solid #ffffff;
  color: #ee3643;
  font-size: 21px;
  line-height: 21px;
}

.header-menu__contact small {
  display: block;
  color: #32425c;
  font-size: 14px;
  line-height: 24px;
}

.header-menu__btn a {
  color: #000000;
  background-color: #ffffff;
  font-size: 21px;
  line-height: 21px;
}

.header-menu__btn a:focus,
.header-menu__btn a:hover {
  color: #ee3643;
}

.header-menu__btn a:active {
  color: #cacaca;
}

.user-profile__link {
  background-color: #ffffff;
  color: #000000;
  font-size: 21px;
  line-height: 21px;
}

.user-profile__btn a {
  color: #32425c;
}

.user-profile__btn a:hover,
.user-profile__btn a:focus {
  color: #ee3643;
}

.user-profile__btn {
  font-size: 16px;
  text-decoration: underline;
}

.user-profile__btn a:active,
.user-profile__link:active,
.header-btn a:active {
  color: #c5c5c5;
}

/* navigation */
.header-menu__navigation {
  -webkit-box-shadow: inset 0 -5px 0 #293449;
  box-shadow: inset 0 -5px 0 #293449;
  background-color: #32425c;
  width: 100%;
}

.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.navigation-list a {
  display: block;
  padding: 22px 31px 22px;
  color: #ffffff;
  line-height: 17px;
}

.navigation-list a:active {
  color: #999999;
  background-color: #1d2739;
}

.navigation-list a:hover,
.navigation-list a:focus {
  background-color: #293449;
}

/* main */

.breadcrumbs-list {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.breadcrumbs-list__item:not(:last-child) {
  margin-right: 15px;
}

.breadcrumbs-list a {
  color: #000000;
}

.page-heading {
  background-color: #f2f6f8;
  color: #32425c;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.main-content__layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-filters {
  max-width: 220px;
  width: 100%;
  margin-right: 20px;
  color: #000000;
  font-size: 15px;
  line-height: 20px;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.fieldset__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
}

.filters-result-btn {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  background-color: transparent;
  border: 1px solid #e5e5e5;
}

.product-card__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.product-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 220px;
  border: 1px solid #e5e5e5;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 700;
  position: relative;
}

.is-new--product::before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  background: url(../img/new_flag.png) no-repeat center;
  width: 60px;
  height: 59px;
}

.product-card__item:not(:nth-child(3n)) {
  margin-right: 20px;
}

.product-card__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.product-card:hover {
  -webkit-box-shadow: 0 10px 15px rgba(41, 52, 73, 0.4);
  box-shadow: 0 10px 15px rgba(41, 52, 73, 0.4);
  background-color: #ffffff;
  border-color: transparent;
}

.product-card__thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-card:hover .product-card__thumb {
  display: none;
}

.product-card:hover .product-card__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-card__btns {
  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 44px 42px 43px 42px;
  display: none;
}

.buy__btn,
.bookmark__btn {
  padding: 10px;
  text-transform: uppercase;
}

.bookmark__btn {
  padding: 7px;
}

.btn-full--width {
  width: 100%;
  max-width: none;
}

.product-card__body {
  padding: 0 32px 21px 32px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.buy__btn {
  -webkit-box-shadow: inset 0 -3px 0 #367315;
  box-shadow: inset 0 -3px 0 #367315;
  background-color: #63a63e;
  color: #ffffff;
  margin-bottom: 7px;
}

.buy__btn:hover,
.buy__btn:focus {
  background-color: #5fbb2d;
}

.buy__btn:active {
  background-color: #518534;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.bookmark__btn {
  font: inherit;
  color: #32425c;
  border: 3px solid #63a63e;
  background-color: #ffffff;
}

.bookmark__btn:hover,
.bookmark__btn:focus {
  border: 3px solid #32425c;
}

.bookmark__btn:active {
  opacity: 0.3;
}

.product-card__title {
  margin: 0;
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.price {
  line-height: 18px;
  text-transform: uppercase;
}

.price--sale {
  color: #999999;
  text-decoration: line-through;
  margin-bottom: 13px;
}

.price--current {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: auto;
}

.price--current b {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #ee3643;
  width: 122px;
  padding-left: 19px;
  min-height: 38px;
}

.price--current:after {
  content: '';
  display: block;
  border-width: 19px 0 19px 19px;
  border-style: solid;
  border-color: transparent transparent transparent #ed3943;
}

/* section  information */
.information {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.about-company {
  max-width: 519px;
  margin-right: 20px;
}

section.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.section-title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
}

.about-company p,
.contact p {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  line-height: 24px;
}

.delivery-list a {
  color: #000000;
  font-size: 18px;
  line-height: 20px;
}

.btn {
  background-color: #ee3643;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
}

.btn:hover,
.btn:focus {
  background-color: #ca2c37;
}

.btn:active {
  background-color: #ba2732;
}

/* footer */
.page-footer {
  background-color: #32425c;
}

.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 53px;
}

.footer-navigation__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-top: 42px;
}

.footer-navigation:not(:nth-last-of-type(1)) {
  margin-bottom: 45px;
}

.footer-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer-info {
  margin-right: 20px;
}

.footer-info p {
  color: #f1f5f7;
  font-size: 18px;
  line-height: 24px;
}

.footer-navigation__item:not(:last-child) {
  margin-right: 60px;
}

.footer-navigation__item a {
  color: #f1f5f7;
  font-size: 18px;
  line-height: 24px;
}

.footer-navigation--color a {
  color: #ffd180;
}

.footer-navigation__item a:active {
  opacity: 0.5;
}

.footer-navigation__item a:hover,
.footer-navigation__item a:focus {
  text-decoration: underline;
}

.footer-bottom {
  background-color: #293449;
}

.footer-bottom__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-copyright p {
  font-size: 16px;
  color: #ffffff;
}

.footer-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

}

.social-list__item:not(:last-child) {
  margin-right: 3px;
}

.footer-social__list a {
  color: #ffffff;
  background-color: #212a3a;
}

.footer-social__list a:hover,
.footer-social__list a:focus,
.footer-social__list a:active {
  background-color: #ee3643;
}

.footer-contact p,
.footer-dev p {
  color: #ffffff;
  font-size: 16px;
}

.footer__link {
  color: #ffd180;
}

.footer__link:hover,
.footer__link:focus {
  text-decoration: underline;
}

.footer__link:active {
  color: #ee3643;
}

/* modal */
.modal {
  display: none;
}
